*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-field {
  font-size: 14px;
  width: 100%;
  position: relative;
  --field-padding: 12px;
  border-top: 20px solid transparent;
}

.custom-field input {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  padding: var(--field-padding);
}

.custom-field .placeholder {
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field {
  --field-padding: 12px;
}
